<div id="controls">
<span class="login100-form-title p-b-51">
  Logging in...
</span>
<img id="spinner" src="/images/spinner.gif">
</div>

<div id="returnPanel">
  {{#if pageId}}
    <h1>Login complete, you can close this window.</h1>
  {{/if}}

  {{#if twilioNumber}}
  <div class="container-login100-form-btn m-t-17">
    <a href="sms:{{twilioNumber}}" class="login100-form-btn">
      Back to SMS
    </a>
  </div>
  {{/if}}

  {{#if whatsAppId}}
  <div class="container-login100-form-btn m-t-17">
    <a href="https://wa.me/{{whatsAppId}}/" class="login100-form-btn">
      Back to WhatsApp
    </a>
  </div>
  {{/if}}
</div>

<div id="debugInfo">
  <p><h2 id="userName">{{user.name}}</h2></p>
  <p id="userJob">{{user.job}}</p>
  <p id="userPhone">{{user.phone}}</p>
</div>
